{% load static %}
<div class="slideshow">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'app/images/slideshow_1.png' %}" class="d-block w-100" alt="slide1">
            </div>
            <div class="carousel-item">
                <img src="{% static 'app/images/slideshow_2.png' %}" class="d-block w-100" alt="slide2">
            </div>
            <div class="carousel-item">
                <img src="{% static 'app/images/slideshow_3.png' %}" class="d-block w-100" alt="slide3">
            </div>
            <div class="carousel-item">
                <img src="{% static 'app/images/slideshow_4.png' %}" class="d-block w-100" alt="slideshow4">
            </div>
        </div>
        <button class="carousel-control-prev trans" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon trans-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next trans" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon trans-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>