{% load static %}
<div class="footer">
    <div class="support-payway-connect">
        <div class="support">
            <p>Tổng đài hỗ trợ miễn phí</p>
            <ul>
                <li>Gọi mua hàng <b>1800.2097</b> (7h30 - 22h00)</li>
                <li>Gọi khiếu nại <b>1800.2063</b> (8h00 - 21h30)</li>
                <li>Gọi bảo hành <b>1800.2064</b> (8h00 - 21h00)</li>
            </ul>
        </div>
        <div class="payway">
            <p>Phương thức thanh toán</p>
            <ul class="payway_img" style="list-style: none; padding: 0;">
                <li>
                    <img src="{%static 'app/images/apple-pay.png' %}" alt="apple-pay" class="image" />
                </li>
                <li>
                    <img src="{%static 'app/images/zalo-pay.png' %}" alt="zalo-pay" class="image" />
                </li>
                <li>
                    <img src="{%static 'app/images/vn-pay.png' %}" alt="vn-pay" class="image" />
                </li>
                <li>
                    <img src="{%static 'app/images/momo.png' %}" alt="momo" class="image" />
                </li>
            </ul>
        </div>
        <div class="connect">
            <p>Kết nối với PythonWeb</p>
            <ul class="connect_i" style="list-style: none; padding: 0;">
                <li>
                    <a href="https://github.com/ngonguyen1512" target="_blank">
                        <i class='bx bxl-github'></i>
                    </a>
                </li>
                <li>
                    <a href="https://web.facebook.com/ngonguyenthanhnguyen1349" target="_blank">
                        <i class='bx bxl-facebook-circle'></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/ngo__nguyen__152/" target="_blank">
                        <i class='bx bxl-instagram-alt'></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="policy">
        <p>Thông tin và chính sách</p>
        <ul>
            <li>Mua hàng và thanh toán Online</li>
            <li>Mua hàng trả góp Online</li>
            <li>Mua hàng trả góp bằng thẻ tín dụng</li>
            <li>Chính sách giao hàng</li>
            <li>Tra thông tin bảo hành</li>
            <li>Tra cứu hoá đơn điện tử</li>
            <li>Thông tin hoá đơn mua hàng</li>
            <li>Trung tâm bảo hành chính hãng</li>
            <li>Quy định về việc sao lưu dữ liệu</li>
        </ul>
    </div>
    <div class="service">
        <p>Dịch vụ và thông tin khác</p>
        <ul>
            <li>Ưu đãi thanh toán</li>
            <li>Quy chế hoạt động</li>
            <li>Chính sách Bảo hành</li>
            <li>Liên hệ hợp tác kinh doanh</li>
            <li>Tuyển dụng</li>
            <li>Dịch vụ bảo hành điện thoại</li>
            <li>Dịch vụ bảo hành mở rộng</li>
        </ul>
    </div>
</div>