.center {
    gap: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.between {
    gap: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.end {
    gap: 1%;
    display: flex;
    align-items: center;
    justify-content: end;
}


#header {
    background: #000 !important;
    color: #fff ;
}
#header .transfer a {
    margin: 0 5%;
}
.menu {
    display: none;
    position: absolute;
    background-color: #000;
    z-index: 1;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
}
.name-title:hover + .menu {
    display: block;
}

.box {
    display: flex;
    border-radius: 5px;
    font-size: large;
    font-weight: 600;
}

.box .icon {
    padding: 6%;
}
.box .icon i {
    font-size: 40px;
}
.subject {
    height: 100%;
    width: 100%;
    padding: 4%;
}
.box .subject .money {
    margin-top: 10%;
}
caption {
    background-color: #000 !important;
}
.cell {
    width: 100%;
}

#content {
    width: 96% !important;
    padding: 1% 2% !important;
}
#content-main .main-box{
    gap: 2%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
#content-related {
    width: 25% !important;
}
.top_chart {
    margin: 2% 0;
    display: flex
}
.top_chart .top-products {
    width: 50%;
}
.top_chart .top-products span {
    font-size: 20px;
    font-weight: 600;
}

