@media (max-width: 980px) {
    .main, .buymore .item_buymore {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .seller .bestseller .items {
        width: 220px;
    }
    .detail .image img {
        width: 100%;
    }
    .cart {
        gap: 0;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .cart .cart_infor .information {
        margin-top: 0;
    }
    .personal .personal_content .personal_side {
        width: 30%;
    }
    .personal .personal_content .personal_main {
        width: 70%;
    }
    .payment {
        gap: 0;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .payment .product_infor {
        padding-right: 0;
        border-right: 0;
    }
}
@media (max-width: 680px) {
    .main, .buymore .item_buymore {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .footer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .footer .service {
        grid-column: span 2 / span 2;
    }
    .footer .service ul {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .detail {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .personal .personal_content {
        flex-direction: column;
    }
    .personal .personal_content .personal_side {
        width: 100%;  
    }
    .personal .personal_content .personal_side ul {
        gap: 2%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .personal .personal_content .personal_main {
        width: 100%;
        padding-top: 2%;
    }
}